// Variáveis (opcional)
$cor-fundo-cabecalho: #007bff;
$cor-texto-cabecalho: white;
$cor-fundo-linha-par: #f2f2f2;
$cor-fundo-hover: #ddd;
$cor-botao: #28a745;
$cor-texto-botao: white;

// Estilo da Tabela
.container-tabela{
    margin: 2em;
    display: block;

    *{
        align-items: center;
    }

    
}

.text-center{
    display: flex;
    justify-content: center;
}
.table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 20px;

    thead tr {
        background-color: $cor-fundo-cabecalho;
        color: $cor-texto-cabecalho;
        text-align: left;
        font-weight: bold;
    }

    td, th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: $cor-fundo-linha-par;
    }

    tr:hover {
        background-color: $cor-fundo-hover;
    }
}

// Botões
.login-button-submit {
    background-color: $cor-botao;
    color: $cor-texto-botao;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    border-radius: 5px;

    &:hover {
        background-color: white;
        color: $cor-botao;
        border: 1px solid $cor-botao;
    }

    
}

.buttonFoot{
    justify-content:space-around;
    background-color: #2a4766;
    align-items: center;
    display: flex;

}
